body {
    font-family: "Nunito", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1db954;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px #000000;
}

.profile {
    display: flex;
    align-items: center;
}

#profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#profile-name {
    font-size: 18px;
    font-weight: bold;
}

#logout-button {
    background-color: #ff4b5c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #ff3333;
}

#main {
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;

}

#playlist-creator {
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

p {
    text-align: center;
    text-shadow: 1px 1px 3px #000000;
}

.hr-dim {
    background-color: #ffffff;
    opacity: 50%;
}

#credits {
    display: flex;
    justify-content: center;
    width: 100%;

}

#credits-text {
    text-align: center;
    text-shadow: 1px 1px 3px #000000;
    text-decoration: none;
    font-weight: bolder;
    color: #ffffff;
}

h2 {
    text-align: center;
    color: #ffffff;
}

h3 {
    text-align: center;
    color: #ffffff;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}


#rating-slider {
    margin-top: 10px;
}

#rating-slider::-webkit-slider-thumb {
    background: #1db954;
}

#rating-slider::-moz-range-thumb {
    background: #1db954;
}

#rating-slider::-ms-thumb {
    background: #1db954;
}

#rating-slider::-webkit-slider-runnable-track {
    background: #404040;
}

#rating-slider::-moz-range-track {
    background: #404040;
}

#rating-slider::-ms-track {
    background: #404040;
}

#rating-slider::-ms-fill-lower {
    background: #1db954;
}

#rating-slider::-ms-fill-upper {
    background: #404040;
}

#rating-slider::-moz-range-progress {
    background: #1db954;
}

#rating-slider::-webkit-slider-runnable-track {
    background: #404040;
}

#rating-slider::-webkit-slider-progress {
    background: #1db954;
}

.primary-button {
    background-color: #1db954;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.primary-button:hover {
    background-color: #17a84b;
}

#login-prompt {
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

#created-playlist {
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

#created-playlist h3 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

#created-playlist table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

}

#created-playlist th,
#created-playlist td {
    padding: 10px;
    text-align: left;
    color: #ffffff;
}

#created-playlist td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#created-playlist td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#created-playlist th {
    background-color: #1db954;
    color: #ffffff;
}

#created-playlist tr:nth-child(odd) {
    background-color: #333333;
}

#created-playlist tr:nth-child(even) {
    background-color: #282828;
}

#created-playlist tr:nth-child(odd):hover {
    background-color: #363636;
    color: #000000;
}

#created-playlist tr:nth-child(even):hover {
    background-color: #292929;
    color: #000000;
}

.album-art-column-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
}

.album-art-column {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.no-padding-table {
    padding: 0px !important;
    text-align: center !important;
    font-weight: bold;
}

.track-title-link {
    color: rgb(241, 241, 241);
    font-size: 14px;
    font-weight: 1000;
    text-decoration: none;
}

.spotify-app-button,
.spotify-app-button-cell {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.spotify-app-button {
    filter: invert(100%) !important;
}


.input-categories-open {
    border-radius: 5px 5px 0px 0px !important;
}

.search-result-dropdown {
    position: absolute;
    background-color: #404040;
    z-index: 1;

    padding: 10px;
    border-radius: 0px 0px 5px 5px;

    box-shadow: 0px 6px 5px -5px black;

}

.search-result-dropdown a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.search-result-dropdown a:hover {
    background-color: #121212;
}

.input-categories {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #404040;
    color: white;
}

.input-categories ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    flex-wrap: nowrap;
}

.input-categories li {
    padding: 5px;
    border: 1px solid black;
    border-radius: 3vmin;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    cursor: pointer;
}

.input-categories input {
    margin: 0px;
    padding: 0px;
    flex: 1 1 auto;
    align-self: flex-start;
}


.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group input[type="range"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #404040;
    color: white;
}

.text-button {
    font-family: "Nunito", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    text-decoration: underline;
    font-size: 14px;

    background: none;
    border: none;
    margin: 10px 10px 10px 0px;
    padding: 5px 5px 5px 0px;
}

.tip {
    font-size: x-small;
    text-align: left;
    margin: 3px;
    padding: 0px;
}

/* Floating Spotify Player Widget */
#spotify-player-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 320px;
    background-color: #282828;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
    padding: 15px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.player-album-art {
    width: 100%;
    display: flex;
    justify-content: center;
}

#player-album-art {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-radius: 8px;
    object-fit: cover;
}

.player-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.player-track-title {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-artist-name {
    font-size: 13px;
    color: #b3b3b3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-progress-container {
    width: 100%;
    height: 4px;
    background-color: #404040;
    border-radius: 2px;
    margin-top: 4px;
    overflow: hidden;
}

.player-progress-bar {
    height: 100%;
    background-color: #1db954;
    border-radius: 2px;
    width: 0%;
    transition: width 0.3s linear;
}

.player-time-info {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    color: #b3b3b3;
    margin-top: 2px;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.player-button {
    background-color: transparent;
    border: 2px solid #404040;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffffff;
    transition: all 0.2s ease;
}

.player-button:hover {
    background-color: #404040;
    border-color: #1db954;
    color: #1db954;
}

.player-button-large {
    width: 50px;
    height: 50px;
    background-color: #1db954;
    border-color: #1db954;
}

.player-button-large:hover {
    background-color: #17a84b;
    border-color: #17a84b;
    color: #ffffff;
    transform: scale(1.05);
}