body {
    font-family: "Nunito", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1db954;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px #000000;
}

.profile {
    display: flex;
    align-items: center;
}

#profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#profile-name {
    font-size: 18px;
    font-weight: bold;
}

#logout-button {
    background-color: #ff4b5c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #ff3333;
}

#main {
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;

}

#playlist-creator {
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

p {
    text-align: center;
    text-shadow: 1px 1px 3px #000000;
}

#credits {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 3px #000000;
    text-decoration: none;
    font-weight: bolder;
    color: #ffffff;
}

h2 {
    text-align: center;
    color: #ffffff;
}

h3 {
    text-align: center;
    color: #ffffff;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group input[type="range"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #404040;
    color: white;
}

#rating-slider {
    margin-top: 10px;
}

#rating-slider::-webkit-slider-thumb {
    background: #1db954;
}

#rating-slider::-moz-range-thumb {
    background: #1db954;
}

#rating-slider::-ms-thumb {
    background: #1db954;
}

#rating-slider::-webkit-slider-runnable-track {
    background: #404040;
}

#rating-slider::-moz-range-track {
    background: #404040;
}

#rating-slider::-ms-track {
    background: #404040;
}

#rating-slider::-ms-fill-lower {
    background: #1db954;
}

#rating-slider::-ms-fill-upper {
    background: #404040;
}

#rating-slider::-moz-range-progress {
    background: #1db954;
}

#rating-slider::-webkit-slider-runnable-track {
    background: #404040;
}

#rating-slider::-webkit-slider-progress {
    background: #1db954;
}

.primary-button {
    background-color: #1db954;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.primary-button:hover {
    background-color: #17a84b;
}

#login-prompt {
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

#created-playlist {
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

#created-playlist h3 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

#created-playlist table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

}

#created-playlist th,
#created-playlist td {
    /* border: 1px solid #ff0000; */
    padding: 10px;
    text-align: left;
    color: #ffffff;
}

#created-playlist td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#created-playlist td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#created-playlist th {
    background-color: #1db954;
    color: #ffffff;
}

#created-playlist tr:nth-child(odd) {
    background-color: #333333;
}

#created-playlist tr:nth-child(even) {
    background-color: #282828;
}

#created-playlist tr:nth-child(odd):hover {
    background-color: #363636;
    color: #000000;
}

#created-playlist tr:nth-child(even):hover {
    background-color: #292929;
    color: #000000;
}

.album-art-column-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
}

.album-art-column {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.no-padding-table {
    padding: 0px !important;
    text-align: center !important;
    font-weight: bold;
}

.track-title-link {
    color: rgb(241, 241, 241);
    font-size: 14px;
    font-weight: 1000;
    text-decoration: none;
}

.spotify-app-button,
.spotify-app-button-cell {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.spotify-app-button {
    filter: invert(100%) !important;
}